#cursorial-admin .cursorial-blocks-table td {
	vertical-align: top;
}

#cursorial-admin .widget-inside {
	display: block;
}

#cursorial-admin .widget-holder {
	padding: 7px 5px 0;
	background-color: #FCFCFC;
	border-color: #DFDFDF;
}

#cursorial-admin .widget-holder p.description {
	margin: 0 12px 12px;
}

#cursorial-search-result .template {
	display: none;
}

#cursorial-admin input.working {
	background: url('../../../../wp-admin/images/loading-publish.gif') right center no-repeat;
}

#cursorial-admin .cursorial-posts {
	width: 100%;
	min-height: 100px;
}

#cursorial-admin .publishing-actions {
	clear: both;
	float: right;
	padding: 8px 10px;
}

.cursorial-area-loader {
	position: absolute;
	background: url('../../../../wp-includes/js/thickbox/loadingAnimation.gif') white center center no-repeat;
}
